

<label for="ownerId">Owner Id: </label> <br />
<input class="standard-input" id="ownerId" type="text" formControlName="ownerId" #ownerId> <br />

<label for="name">Name: </label> <br />
<input class="standard-input" id="name" type="text" formControlName="name" #name> <br />

<label for="address">Address: </label> <br />
<input class="standard-input" id="address" type="text" formControlName="address" #address> <br />

<label for="size">Size: </label> <br />
<input class="standard-input" id="size" type="text" formControlName="size" #size> <br />

<label for="capacity">Capacity: </label> <br />
<input class="standard-input" id="capacity" type="text" formControlName="capacity" #capacity> <br />

<label for="category">Category: </label> <br />
<input class="standard-input" id="category" type="text" formControlName="category" #category> <br />

<button type="submit" class="add-button" (click)="add(ownerId.value, name.value, address.value, size.value, capacity.value, category.value)">
    Check-In
</button>
<!-- 
<label>Owner ID</label>
<input type="text" name="ownerId" placeholder="please enter ownerid " #ownerId>
<br><br>

<label>name</label>
<input type="text" name="name" placeholder="please enter name " #name>
<br><br>

<label>address</label>
<input type="text" name="address" placeholder="please enter address " #address>
<br><br>

<label>size</label>
<input type="number" name="size" placeholder="please enter size " #size>
<br><br>

<label>capcity</label>
<input type="number" name="capacity" placeholder="please enter capacity " #capacity>
<br><br>

<label>category</label>
<input type="text" name="category" placeholder="please enter category " #category>
<br><br> -->

<!-- <button (click)="add(ownerId.value, name.value, address.value, size.value, capacity.value, category.value);">ADD NEW
    PARKING LOT</button> -->