<app-alert [alertClass]="alertClass" [alertValue]="alertValue" [alertVisible]="alertVisible"></app-alert>
<app-plate-number (plateNumberOutput)="receivePlateNumber($event)"></app-plate-number>
<button (click)="onClick()" type="button">Check Bill</button>

<div *ngIf="cardVisible" class="card">
    <h5 class="card-header">Bill:</h5>
    <div class="card-body">
      <p class="card-text">
        License Plate: {{bill?.t?.licensePlate}} <br/>
        Type: {{bill?.t?.type}} <br/>
        Fee: {{bill?.price | currency: 'IDR'}} <br/>
      </p>
      <button (click)="checkOut(bill?.t?.id)" type="button">Pay</button>
    </div>
  </div>

