<div>
  <app-alert [alertClass]="alertClass" [alertValue]="alertValue" [alertVisible]="alertVisible"></app-alert>
  <form [formGroup]="checkInForm" (ngSubmit)="OnSubmit()">
    <label for="parkingLotId">Parking Lot Id: </label> <br/>
    <input class="standard-input" id="parkingLotId" type="text" formControlName="parkingLotId"/> <br/>

    <app-plate-number (plateNumberOutput)="receivePlateNumber($event)"></app-plate-number>
  
    <label for="vehicleType">Vehicle Type: </label> <br/>
    <select class="standard-input" id="vehicleType" formControlName="vehicleType">
    <option value="null">Vehicle Type</option>
    <option value="Bike">Bike</option>
    <option value="Car">Car</option>
    </select> <br/>
  
    <button type="submit" class="add-button">
      Check-In
    </button>
  </form>
  </div>
