.standard-input{
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 1em 1em 1em rgb(194, 193, 193);
    box-sizing: border-box;
    border: 20px black;
    border:1px solid #C8C8C8;
    border-radius: 8px;
    width: 100%;
    height: 5vh;
}

button {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 38px;
    border-radius: 16px;
    border: 1px solid transparent;
    color: white;
    background-color: navy;
    font-size: 16px;
    letter-spacing: 1px;
    transition: all 0.15s linear;
    width: 100%;
}

button:hover {
    background-color: rgba(29, 201, 160, 0.08);
    border-color: navy;
    color: navy;
    transform: translateY(-5px) scale(1.05);
}

button:active {
    background-color: transparent;
    border-color: navy;
    color: navy;
    transform: translateY(5px) scale(0.95);
}

button:disabled {
    background-color: rgba(255, 255, 255, 0.16);
    color: #8E8E93;
    border-color: #8E8E93;
}