.standard-input{
    margin-bottom: 15px;
    border-radius: 2px;
    box-shadow: 1em 1em 1em rgb(194, 193, 193);
    box-sizing: border-box;
    border: 20px black;
    border:1px solid #C8C8C8;
    border-radius: 8px;
    width: 100%;
    height: 5vh; 
}

.plate-alphabet{
    width: 20% !important;
}

.plate-number{
    margin-left: 10px;
    margin-right: 10px;
    width: 50% !important;
}