.navbar-brand {
    padding-left: 20px !important;
  }
  
.navbar {
  background-color: #e3f2fd;
}

h2 {
  text-align: center;
}

a{
  font-weight: bold;
}
a:hover{
    background-color: white;
    border-radius: 10px;
}

