<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/mandiri_logo.png" width="150" height="50" class="d-inline-block align-top" alt="">
  </a>
  <a class="navbar-brand" href="#"></a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" >Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Parking Lot</a>
      <a class="nav-item nav-link" href="#">Pricing</a>
      <!-- <a class="nav-item nav-link disabled" href="#">Tidak</a> -->
    </div>
  </div>
</nav>