<div class="card">
<ul>
    <li *ngFor="let eachPagingParkingLot of parkingLotContent">
        ID: {{eachPagingParkingLot.id}} <br />
        OWNER ID: {{eachPagingParkingLot.ownerId}} <br />
        NAME: {{eachPagingParkingLot.name}} <br />
        ADDRESS: {{eachPagingParkingLot.address}} <br />
        SIZE: {{eachPagingParkingLot.size}} <br />
        CAPACITY: {{eachPagingParkingLot.capacity}} <br />
        CATEGORY: {{eachPagingParkingLot.category}} <br />

        <!-- <button (click)="deleteParkingLot(eachPagingParkingLot.id)">Delete</button> <br /> -->
        <button type="delete" class="add-button"
            (click)="deleteParkingLot(eachPagingParkingLot.id)">
            Delete
        </button>
    </li>
</ul>
</div>




