<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p>Total Parking Car</p>
                    <p class="p-shade">All</p>
                  </div>
                  <h1>{{totalCar}}</h1>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p>Total Parking Motorcycle</p>
                    <p class="p-shade">All</p>
                  </div>
                  <h1>{{totalBike}}</h1>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p>Total Parking</p>
                    <p class="p-shade">All Time</p>
                  </div>
                  <h1>{{totalParking}}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <app-check-in ></app-check-in>

    </div>
    <div class="col-md-6 mt-3">
      <app-check-out></app-check-out>
    </div>
  </div>
</div>




