<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p>Total Parking Car</p>
                    <p style="color:#C8C8C8">All</p>
                  </div>
                  <h1>23</h1>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p>Total Parking Motorcycle</p>
                    <p style="color:#C8C8C8">All</p>
                  </div>
                  <h1>23</h1>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">
              <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p>Total Parking</p>
                    <p style="color:#C8C8C8">All Time</p>
                  </div>
                  <h1>23</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <app-check-in ></app-check-in>

    </div>
    <div class="col-md-6 mt-3">
      <app-check-out></app-check-out>
    </div>
  </div>
</div>




