input {
background: black;
border-radius: 2px;
box-shadow: 1em 1em 1em rgb(194, 193, 193);
box-sizing: border-box;
border: 20px black  ;
background-color: black;
}

label{
    color: black;
    border-radius: 4px;
}